body {
    
    background: url('assets/appBackground.jpg');
    object-fit: scale-down;
    text-align: center;
}

#container {
    margin: 100px auto;
    width: 500px;
    display: grid;
    grid-template-areas: "grid info"
                         "grid info"
                         "grid controls"; 
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#info {
    grid-area: info;
    text-align: center;
}

#grid {
    margin: 0 auto;
    grid-area: grid;
    position: relative;
    width: 300px;
    height: 600px;
    box-shadow: 0 0 20px 5px rgba(250, 0, 250, .4);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: url('assets/bgBig.png');
}

#grid div {
    width: 30px;
    height: 30px;
}

#grid-small {
    box-shadow: 0 0 20px 5px rgba(150, 0, 150, .4);
    border-radius: 5px;
    margin: 20px auto;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background: url('assets/bgBig.png');
}

#grid-small div{
    width: 30px;
    height: 30px;
}

#game-over {
    display: none;
    position: absolute;
    width: inherit !important;
    top: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px rgba(250, 0, 250, 1);
    animation: gameOver 3s infinite;
}

#start {
    margin: 0 auto;
}

#start-button {
    width: 150px;
    margin: 0 auto;
}

#score-display {
    font-family: Arcade;
    text-align: center;
    color:#ffffff;
	font-family:Arial;
    font-size:14px;
    font-weight: bold;
    text-shadow:2px 2px 2px rgba(250, 0, 250, .7);
}

#score {
    margin-bottom: 10px;
}

#hi-score {
    margin-bottom: 10px;
}

#controls {
    grid-area: controls;
    align-content: end;
    margin: 0 auto;
    width: 180px;
    height: 120px;
    display: grid;
    grid-template-areas: "upBtn upBtn upBtn" 
                         "leftBtn downBtn rightBtn";
}

#controls button {
    width: 50px;
    height: 50px;
    font-size: 40px;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 5px;
    padding:0px 0px;
}

#controls div {
    padding: 5px;
}

#up {
    grid-area: upBtn;
    text-align: center;
}

#right {
    grid-area: rightBtn;
}

#down {
    grid-area: downBtn;
}

#left {
    grid-area: leftBtn;
}

.tetromino {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.shake {
  animation: shake .3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.red {
    background: url('assets/tetrominoRedBig.png');
}

.blue {
    background: url('assets/tetrominoBlueBig.png');
}

.green {
    background: url('assets/tetrominoGreenBig.png');
}

.yellow {
    background: url('assets/tetrominoYellowBig.png');
}

.purple {
    background: url('assets/tetrominoPurpleBig.png');
}

.clear {
    transform: scale(0);
    transition: transform .2s;
}

button {
    outline: none;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow: 0 0 20px 5px rgba(150, 0, 150, .4);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
button:active {
	position:relative;
	top:1px;
}

@media screen and (max-width: 600px) {
    #container {
        margin: 20px auto;
        width: 300px;
        grid-gap: 5px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "grid info"      
                             "controls controls";
    }

    #info {
        
    }

    #grid {
        width: 200px;
        height: 400px;
        background: url('assets/bg.png');
    }

    #grid div {
        width: 20px;
        height: 20px;
    }

    #grid-small {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
        background: url('assets/bg.png');
    }

    #grid-small div {
        width: 20px;
        height: 20px;
    }

    #score-display div{
        font-size: 10px;
    }

    #start-button {
        font-size: 10px;
        padding: 5px 5px;
        width: 80px;
        height: 36px;
    }

    .red {
        background: url('assets/tetrominoRed.png');
    }

    .blue {
        background: url('assets/tetrominoBlue.png');
    }

    .green {
        background: url('assets/tetrominoGreen.png');
    }

    .yellow {
        background: url('assets/tetrominoYellow.png');
    }

    .purple {
        background: url('assets/tetrominoPurple.png');
    }
}

@keyframes gameOver {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
} 

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 4px, 0);
  }
}

@font-face {
    font-family: Venus; /* Имя шрифта */
    src: url(assets/fonts/venus-rising/venus\ rising\ rg.ttf); /* Путь к файлу со шрифтом */
}